/* LAYOUT STYLING */
body {
  background: url("../Images/bg_main.jpg") no-repeat fixed;
  background-size: cover;
  font-weight: 100;
  color: #444;
}
body.row {
  width: 700px;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.container {
  margin-top: 150px;
  margin-bottom: 50px;
  padding: 20px;
  background-color: #f3f3f3;
}
.container .content {
  position: relative;
  overflow: hidden;
}
.inner-content {
  border: none;
  padding: 0;
  margin: 20px 50px;
}
.form-wrapper {
  height: 80px;
  margin-bottom: 20px;
  position: relative;
}
.form-wrapper.coloured-box {
  background-color: #eee;
  height: auto;
  padding: 10px;
}
.form-wrapper.selected {
  background-color: #0e7d07;
  color: #fff;
}
.capture-comms-form {
  display: none;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 30px;
  background: #f3f3f3;
}
.divider {
  border-top: solid 1px #dedede;
  margin: 0;
  border-bottom: solid 1px #fcfcfc;
  border-left: none;
  border-right: none;
}
/* TEXT STYLING */
.page-header {
  padding: 20px;
  font-size: 1.2em;
  font-weight: 300;
  color: #fff;
  background-color: #103c21;
  margin: 0 0 20px 0;
  position: relative;
}
.bold-text {
  font-weight: 700;
}
.icon-text {
  display: inline-block;
  margin: 10px;
  font-size: 1.2em;
}
.link-text {
  color: #22312c;
  position: absolute;
}
.link-text:hover {
  color: #4d5955;
}
.link-text.right {
  right: 0;
  top: 35px;
}
.link-text.header {
  color: #fff;
  font-size: 0.75em;
  top: 22px;
  right: 20px;
}
.link-text.header:hover {
  color: #eaeaea;
}
/* ICONS */
.icon {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  display: inline-block;
}
.icon.email {
  background-image: url("../Images/email-icon.png");
  float: left;
}
.icon.phone {
  background-image: url("../Images/phone-icon.png");
  float: left;
}
/* BUTTONS & INPUTS & INTERACTONS */
.btn {
  max-width: 25%;
  width: 100%;
  height: 50px;
  border-radius: 3px;
  border: none;
  color: #fff;
  margin-top: 20px;
  min-width: 120px;
}
.btn.action {
  background-color: #0e7d07;
}
.btn.action:disabled {
  background-color: #a9a9a9;
}
.input {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
.input.text {
  height: 43px;
  width: 100%;
  border: 1px solid #d5d5d5;
  margin-top: 5px;
  display: block;
  /* styling for icon states inside text inputs*/
}
.input.text.password-icon {
  background: url("../Images/password-sprite.png") no-repeat #ffffff;
  padding-left: 50px;
}
.input.text.username-icon {
  background: url("../Images/username-sprite.png") no-repeat #ffffff;
  padding-left: 50px;
}
.input.text.reset-icon {
  background: url("../Images/reset-sprite.png") no-repeat #ffffff;
  padding-left: 50px;
}
.input.text.mobile-icon {
  background: url("../Images/mobile-sprite.png") no-repeat #ffffff;
  padding-left: 50px;
}
.input.text.email-icon {
  background: url("../Images/email-sprite.png") no-repeat #ffffff;
  padding-left: 50px;
}
.input.text:focus {
  outline: transparent;
  background-position: 0 -45px;
}
.input.text:invalid {
  box-shadow: none;
}
.input.text:-moz-submit-invalid {
  box-shadow: none;
}
.input.text:-moz-ui-invalid {
  box-shadow: none;
}
.input.text::-ms-reveal {
  display: none;
}
.input.radio {
  margin-right: 10px;
}
.input.radio.label {
  margin-left: 20px;
}
.input.label-heading {
  font-size: 1.2em;
}
.input[type=number]::-webkit-inner-spin-button,
.input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.unmask {
  position: absolute;
  right: 5px;
  text-indent: -9999px;
  top: 24px;
  width: 46px;
  height: 45px;
  background: url("../Images/eye-sprite.png") no-repeat transparent;
  border: none;
}
.unmask:focus {
  outline: none;
}
.unmask:hover,
.unmask.selected {
  background-position: 0 -45px;
}
/* PASSWORD VALIDATION */
.password-validation {
  margin: 0 0 20px 0;
  padding: 0;
  width: 100%;
  overflow: auto;
}
.password-validation li {
  display: inline-block;
  width: 24.25%;
  background-color: #eee;
  text-align: center;
  float: left;
  margin-right: 1%;
  height: 90px;
  font-size: 12px;
}
.password-validation li:nth-child(4) {
  margin-right: 0;
}
.password-validation li span {
  font-size: 30px;
  display: block;
  margin-top: 10px;
}
.invalid {
  color: #444;
}
.valid {
  color: #b7b7b7;
}
/* ANIMATIONS */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(20px);
  }
  80% {
    -webkit-transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(20px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.bounceInDown {
  display: block!important;
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}
