@{
    ViewBag.Title = "Account";
}
<div data-ng-app="app" data-ng-controller="CompletionController" class="container" id="add-contact-details" ng-cloak>
    <h1 class="page-header">
        <span data-ng-if="!account.passwordSet">Create a new password</span>
        <span data-ng-if="account.passwordSet">Don't lose access to your account</span>
        <a class="link-text right header" href="">Help!</a>
    </h1>
    <div class="content">
        <form id="create-new-password" name="createNewPassword" method="post>
            <anti-forgery-token token="model.antiForgery"></anti-forgery-token>
            <fieldset class="inner-content">
            <p class="content-text">
                Make your password memorable and unique!<span class="bold-text"> Your new password must contain: </span>
                </p>
                <div data-password-validator data-validity="passwordValidity" data-content="model.password"></div>
                <div class="form-wrapper">
                    <label for="password" class="input label-heading">New password:</label>
                    <input required id="password" name="password" type="password" class="input text password-icon" placeholder="Password"
                           data-ng-required="true"
                           data-ng-model="model.password"
                           data-ng-disabled="isFormDisabled()">
                    <button password-mask-control class="unmask" type="button" title="Mask/Unmask password to check content">Unmask</button>
                </div>
                <hr class="divider">
                <div class="form-wrapper">
                    <button id="password-submit" class="btn action" type="submit"
                            data-ng-disabled="!passwordValidity.isValid() || isFormDisabled()">Continue</button>
                </div>
                <div loader-wrap data-ng-show="awaitingServerResponse" class="loader-wrap" data-loadertext="setting your new password..." ng-cloak></div>
            </fieldset>
        </form>
        <form id="capture-email" name="captureEmail" method="post" action="{{model.loginUrl}}" class="capture-comms-form animated inner-content">
            <anti-forgery-token token="model.antiForgery"></anti-forgery-token>
            <h3 class="subheading">We have noticed that we don't have your email address.</h3>

            <p class="content-text">
                Once you've started using RewardHub we'll use your email to communicate with you regarding your account activity and to assist you, should you need to reset your password.
            </p>
            <div class="form-wrapper">
                <label for="email" class="input label-heading">Enter your email address</label>
                <input required name="email" id="email" type="text" class="input text email-icon" placeholder="email@domain.com" ng-model="model.email">
            </div>
            <hr class="divider">
            <div class="form-wrapper">
                <button id="submit-email" class="btn action" ng-disabled="captureEmail.$invalid">Continue</button>
                <a class="link-text right" href="">No thanks, sign me in</a>
            </div>
        </form>
        <form id="capture-phone" name="capturePhone" method="post" action="{{model.loginUrl}}" class="capture-comms-form animated inner-content">
            <anti-forgery-token token="model.antiForgery"></anti-forgery-token>
            <p class="content-text">
                Losing access to your account can be a frustrating experience so we have created a simple and east way for you to
                <span class="bold-text">reset your password using text message</span> (SMS). All you need to do is provide us with your
                mobile number and you are ready to go!
            </p>
            <div class="form-wrapper">
                <label for="email" class="input label-heading">Enter your mobile number</label>
                <input required name="phone" id="phone" type="text" class="input text mobile-icon" placeholder="Enter your phone number" ng-model="model.phone">
            </div>
            <hr class="divider">
            <div class="form-wrapper">
                <button id="submit-phone" class="btn action" ng-disabled="capturePhone.$invalid">Continue</button>
                <a class="link-text right" href="" id="skip-capture">No thanks, sign me in</a>
            </div>
        </form>

        <div>
        </div>

    </div>
</div>

<div id="modelJson">
    @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model, Newtonsoft.Json.Formatting.None, new Newtonsoft.Json.JsonSerializerSettings() { ContractResolver = new Newtonsoft.Json.Serialization.CamelCasePropertyNamesContractResolver() }));
</div>

@section scripts {
<script src="../Resources/Scripts/angular.1.2.13.js"></script>
<script src="../Resources/Scripts/lodash.min.js"></script>
<script src="../Resources/Scripts/app.js"></script>
}