@{
    ViewBag.Title = "Account";
}
<div data-ng-app="app" data-ng-controller="CompletionController" class="container" id="add-contact-details" ng-cloak>
    <h1 class="page-header">
        <span data-ng-if="!account.passwordSet">Create a new password</span>
        <span data-ng-if="account.passwordSet">Don't lose access to your account</span>
        <a class="link-text right header" href="">Help!</a>
    </h1>
    <div class="content">
        <form id="create-new-password" name="createNewPassword" >
            <anti-forgery-token token="model.antiForgery"></anti-forgery-token>
            <fieldset class="inner-content">
            <p class="content-text">
                Make your password memorable and unique!<span class="bold-text"> Your new password must contain: </span>
                </p>
                <ul class="password-validation">
                    <li id="specialCharacter" class="invalid"><span>*!£^</span><p>A symbol</p></li>
                    <li id="number" class="invalid"><span>3</span><p>A number</p></li>
                    <li id="letter" class="invalid"><span>Aa</span><p>Upper / lower case</p></li>
                    <li id="length" class="invalid"><span>8+</span><p>8 characters long</p></li>
                </ul>
                <div class="form-wrapper">
                    <label for="password" class="input label-heading">New password:</label>
                    <input required id="password" name="password" type="password" class="input text password-icon" placeholder="Password"
                           data-ng-required="true"
                           data-ng-model="model.password"
                           data-ng-disabled="formDisabled"
                           data-ng-keyup="test()">
                    <button class="unmask" type="button" title="Mask/Unmask password to check content">Unmask</button>
                </div>
                <hr class="divider">
                <div class="form-wrapper">
                    <button id="password-submit" class="btn action" type="submit"
                            data-ng-disabled="createNewPassword.$invalid || formDisabled">Continue</button>
                </div>
            </fieldset>
        </form>
        <form id="capture-all" name="captureAll" method="post" action="{{model.loginUrl}}" class="capture-comms-form animated inner-content">
            <anti-forgery-token token="model.antiForgery"></anti-forgery-token>
            <p class="content-text">
                To ensure you can get back into your account quickly and securely please provide either your email address or mobile number.
                <span class="bold-text">We recommend you provide both.</span>
            </p>
            <div class="form-wrapper">
                <label for="email" class="input label-heading">Enter your email address</label>
                <input required name="email" id="email" type="text" class="input text email-icon" placeholder="email@domain.com" ng-model="model.username">
            </div>
            <div class="form-wrapper">
                <label for="mobile" class="input label-heading">Enter your mobile number</label>
                <input required id="mobile" name="mobile" type="tel" class="input text mobile-icon" placeholder="Mobile number" ng-model="model.password">
            </div>
            <hr class="divider">
            <div class="form-wrapper">
                <button id="submit" class="btn action" ng-disabled="form.$invalid">Login</button>
                <a class="link-text right" href="">No thanks, sign me in</a>

            </div>
        </form>
        <form id="capture-email" name="captureEmail" method="post" action="{{model.loginUrl}}" class="capture-comms-form animated inner-content">
            <anti-forgery-token token="model.antiForgery"></anti-forgery-token>
            <p class="content-text">
                We have noticed that <span class="bold-text">we don't have your email address;</span> we strongly encourage you to provide us with one. Once you've started
                using RewardHub we'll use your email to communicate with you regarding your account activity and to assist you, should you need to reset your password.
            </p>
            <div class="form-wrapper">
                <label for="email" class="input label-heading">Enter your email address</label>
                <input required name="email" id="email" type="text" class="input text email-icon" placeholder="email@domain.com" ng-model="model.username">
            </div>
            <hr class="divider">
            <div class="form-wrapper">
                <button id="submit" class="btn action" ng-disabled="form.$invalid">Continue</button>
                <a class="link-text right" href="">No thanks, sign me in</a>
            </div>
        </form>
        <form id="capture-phone" name="capturePhone" method="post" action="{{model.loginUrl}}" class="capture-comms-form animated inner-content">
            <anti-forgery-token token="model.antiForgery"></anti-forgery-token>
            <p class="content-text">
                Losing access to your account can be a frustrating experience so we have created a simple and east way for you to
                <span class="bold-text">reset your password using text message (SMS)</span>. All you need to do is provide us with your
                mobile number and you are ready to go!
            </p>
            <div class="form-wrapper">
                <label for="email" class="input label-heading">Enter your mobile number</label>
                <input required name="email" id="email" type="text" class="input text mobile-icon" placeholder="Enter your phone number" ng-model="model.username">
            </div>
            <hr class="divider">
            <div class="form-wrapper">
                <button id="submit" class="btn action" ng-disabled="form.$invalid">Continue</button>
                <a class="link-text right" href="" id="skip-capture">No thanks, sign me in</a>
            </div>
        </form>
        <div>
        </div>

    </div>
</div>

@section scripts {
<script src="../Resources/Scripts/angular.1.2.13.js"></script>
<script src="../Resources/Scripts/app.js"></script>
<script src="../Resources/Scripts/password-validation.js"></script>
}